<div class="page-content fade-in-up">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <h4>Escolha o empreendimento</h4>
            </div>
            <div class="form-group col-md-9">
                <select class="form-control select2_demo_1" *ngFor="let emp of empreendimento">
                    <optgroup label="Empreendimento">
                        <option value="EMP1">{{emp.emp1}}</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="form-group col-md-6" id="date_4">
                <label class="font-normal">Selecione o período: </label>
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input id='inicio' class="form-control" type="text" [(ngModel)]="dataInicial">
                </div>
            </div>
            <div class="form-group col-md-6" id="date_4">
                <label class="font-normal">até</label>
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="fim" id='fim' class="form-control" type="text" [(ngModel)]="dataFinal">
                </div>
            </div>
        </div>
    </div>

        <ay-treeTable [value]="data" [styleClass]="table" [styleClass]="table-head-purple" [styleClass]="mb-5">
            <ay-column *ngFor="let c of columns" field="{{c}}" header="{{c}}"></ay-column>
        </ay-treeTable>
</div>