<div class="font-13">2018 © <b>Patrimar</b> - Save your time, choose the best</div>
<div>
    <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
    <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
</div>